/* Le wrapper prend toute la hauteur de la page */
.home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* hauteur de l'écran */
}

/* HeroSection prend tout l'espace restant */
.hero {
  flex: 1;
}
